BasedOnStyle: Google
DerivePointerAlignment: false
PointerAlignment: Right
IndentWidth: 2
ColumnLimit: 100
AlignAfterOpenBracket: BlockIndent
BreakBeforeBraces: Allman
BinPackParameters: false
AllowShortCaseLabelsOnASingleLine: true
AlignTrailingComments: 
    Kind: Always
    OverEmptyLines: 2